<div class='friends-page'>
  <%= erb :'partials/_navbar' %>

  <div class="below-navbar container">
    <div class="row">
      <div class='col-md-12'>
        <div class="bootcards-list">
          <div class="panel panel-default">
            <div class="list-group">
              <% @friends.each do |friend| %>
                <a class="list-group-item" href="/users/<%=friend.id%>/profile">
                  <img src="<%=friend.photo%>" class="img-rounded pull-left"/>
                  <h4 class=""><%=friend.name%></h4>
                  <p class="list-group-item-text"><%=friend.quirky_fact%></p>
                </a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

