<div class='trips-page'>
  <%= erb :'partials/_navbar' %>
  <div class='container below-navbar'>
    <div class='row'>
      <div class='col-lg-4 fixed-scroll'>
        <div class='row'>
          <div class='col-lg-11'>
            <h2><%= @user.name %><br>
              <small><%= @user.location %></small>
            </h2>
            <p><%= @user.about_me %></p>
          </div>
        </div>
      </div>
      <div class='col-lg-7 col-lg-offset-5 bootcards-cards'>
        <% if user_login? %>
        <a href="/users/<%=session[:user]%>/trips/new">
          <div class="panel panel-default text-center new-trip-card">
            <div class="list-group">
              <div class="list-group-item">
                <h1 class="list-group-item-text">
                  <span class='glyphicon glyphicon-plus'></span>
                </h1>
                <h4>New Trip</h4>
              </div>
            </div>
          </div>
        </a>
        <% end %>  
        <% @user.trips.each do |trip| %>
        <div class="panel panel-default">
          <div class="panel-heading clearfix">
            <h3 class="panel-title pull-left"><%= trip.title %></h3>
            <a class="btn btn-primary pull-right" href="./trips/<%= trip.id %>">
            View
            </a>
            <a class="btn btn-primary pull-right" href="./trips/<%= trip.id %>/update">
            Edit
            </a>
          </div>
          <div class="list-group">
            <div class="list-group-item">
              <p class="list-group-item-text">Location</p>
              <h4 class="list-group-item-heading">
                <%= trip.location %>
              </h4>
            </div>
            <div class="list-group-item">
              <p class="list-group-item-text">Date</p>
              <h4 class="list-group-item-heading">
                <%= Date::MONTHNAMES[trip.start_date.month] + " " + trip.start_date.day.to_s + ", " + trip.start_date.year.to_s %>
                <% if trip.end_date %> - 
                  <%= Date::MONTHNAMES[trip.end_date.month] + " " + trip.end_date.day.to_s + ", " + trip.end_date.year.to_s %>
                <% end %>
              </h4>
            </div>
            <div class="list-group-item">
              <p class="list-group-item-text">
                <%= trip.description.split(/\s+/, 71)[0...70].join(' ') %><% if trip.description.split(/\s+/).length > 70 %>...<% end %>
              </p>
            </div>
          </div>
          <img src="http://i.imgur.com/rat4xOV.jpg" class="img-responsive"/>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>