<div class='activity-page'>
  <%= erb :'partials/_navbar' %>
  <div class='container below-navbar'>
    <div class='row'>

      <div class='col-lg-6 activity-details'>
        <div class='row'>
          <div class='col-lg-7'>
            <h2>
              <%= @activity.title %>
              <br>
              <small>
              <%= @activity.city %>, <%= @activity.country%>
              <% if @activity.venue %>
              <br><%= @activity.venue %>
              <% end %>
              <br>
              <%= Date::MONTHNAMES[@activity.start_date.month] + " " + @activity.start_date.day.to_s + ", " + @activity.start_date.year.to_s %>
              <% if @activity.end_date %> -
              <%= Date::MONTHNAMES[@activity.end_date.month] + " " + @activity.end_date.day.to_s + ", " + @activity.end_date.year.to_s %>
              <% end %>
              </small>
            </h2>
          </div>
          <div class='col-lg-5'>
          <!--   <a class='btn btn-danger pull-right' href='./<%= @activity.id %>/delete'><span class='glyphicon glyphicon-trash'></span></a>
            <a class='btn btn-primary pull-right' href='./<%= @activity.id %>/update'><span class='glyphicon glyphicon-pencil'></span></a> -->
            <div class="btn-group pull-right">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
              <i class="glyphicon glyphicon-cog"></i> <span class="caret"></span>
              </button>
              <ul class="dropdown-menu" role="menu">
                <li><a href="./<%= @activity.id %>/update">Edit activity</a></li>
                <li><a href="./<%= @activity.id %>/photos/new">Add photos</a></li>
                <li><a href="./<%= @activity.id %>/delete">Delete activity</a></li>
              </ul>
            </div>
            <a class='btn btn-primary back-button pull-right' href='../../<%= @activity.trip.id %>'>Back</a>
          </div>

          

          </div class='col-lg-12'>
          <p>
            <%= @activity.trip.description %>
          </p>
        </div>

        <div class='col-lg-6 activity-photos'>
          <div id="slider">
            <% @activity.photos.each do |photo| %>
              <img src="<%=photo.safe_url%>" alt="">
            <% end %>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
<script>
  new IdealImageSlider.Slider('#slider');
</script>
